@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

* {
  font-family: "inter", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.9);
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(to bottom, rgb(0, 62, 196), rgb(184, 0, 153));
}